*{
    background-color: black
}
h1 {
    color: #73BBC9;
    text-align: center;
    font-size: 70px;
    margin: 0;
}
.b{
    height: 200px;
    width: 250px;
    float: left ;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 30px;
    margin-top: 20px;
}
.c {
    color: aliceblue;
    text-align: justify;
}
.a {
    width: 47%;
}
.ab {
    float: right;
    margin-right: 25px;
}
.aa {
    float: left;
}
.ac {
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    clear: both;
    display: inline-block;
}
#q {
    color: chartreuse;
    margin-top: 10px;
    margin-bottom: 30px;
}
footer{
    text-align: end;
    color: aqua;
    font-size: 20px;
    margin-right: 15px;
}
.n{
    float: left;
    width: 10%;   
}
@media(max-width:550px){
    .a{
        width: 100%;
    }
    .ac{
        width: 100%;
        margin: 0;
    }
    .b {
        height: 100px;
        width: 125px;
        margin-left: 12px;
        margin-right: 12px;
        margin-bottom: 15px;
        margin-top: 10px;
}
    }
